<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ssm.crm520.mapper.FunctionMapper">
	<update id="createTable">
		CREATE TABLE IF NOT EXISTS `t_function` (
		  `id` bigint(20) NOT NULL AUTO_INCREMENT,
		  `name` varchar(20) DEFAULT NULL,
		  `resourceAddr` varchar(100) DEFAULT NULL,
		  PRIMARY KEY (`id`)
		) ENGINE=InnoDB DEFAULT CHARSET=utf8;
		
	</update>
	<insert id="save" useGeneratedKeys="true" parameterType="Function">
		insert into t_function
		(name,resourceAddr)
		VALUES
		(#{name},#{resourceAddr})
	</insert>
	<update id="update" parameterType="Function">
		update t_function set name=#{name},resourceAddr=#{resourceAddr} 
		where id = #{id}
	</update>
	<delete id="delete">
		delete from t_function where id = #{id}
	</delete>
	
	<select id="get" resultType="Function" parameterType="long">
		select *
		from t_function
		where id = #{id}
	</select>

	<select id="getAll"  resultType="Function">
		select * from t_function
	</select>

	<select id="findQuery" parameterType="FunctionQuery"  resultType="Function">
		select * from t_function
		<where>
			<if test="name!=null">
				name like #{name}	
			</if>
		</where>
		limit #{start},#{rows}
	</select>
	<select id="findCount" parameterType="FunctionQuery" resultType="long">
		select count(*) from t_function 
		<where>
			<if test="name!=null">
				name like #{name}	
			</if>
		</where>
	</select>
	
	<select id="getResourceByResourceName" parameterType="string" resultType="Function">
		select * from t_function where resourceAddr = #{resourceAddr}
	</select>
	
	<select id="getResourceByFunctionName" parameterType="string" resultType="Function">
		select * from t_function where name = #{functionName}
	</select>

	<select id="getFunctionsByEmployee" parameterType="Employee" resultType="Function">
		select distinct f.*
		from t_employee emp join t_employee_role er on emp.id = er.employee_id
		join t_role r on er.role_id = r.id join t_role_function rf on r.id = rf.role_id
		join t_function f on f.id = rf.function_id where emp.id = #{id}
	</select>
</mapper>